div {
    color: rgb(119, 66, 16);
    font-size: 40px;
    text-align: center;
}

.fiest {
    width: 350px;
    height: auto;
    margin-left: 255px;
    margin-right: auto;
}

.rodent {
    text-align: center;
}

.mf {
    color: brown;
}

.ahole {
    color: purple;
}

.urmom {
    text-align: center;
    font-style: italic;
    font-size: 28px;
}